@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 252, 252, 252;
  --background-end-rgb: 255, 255, 255;
}

/*dark mode, enable when ready across app*/
/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*main feed*/
.feed-dot {
  @apply absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full border-2 border-slate-300 bg-white md:top-[0.4375rem];
}

.feed-border {
  @apply absolute -bottom-2 left-0 w-px bg-slate-200 -top-3 md:top-2.5;
}

.content-date {
  @apply pl-7 text-xs sm:text-sm leading-6 text-slate-500 md:w-1/4 md:pl-0 md:pr-12 md:text-right;
}

.content-block {
  @apply relative pt-2 pl-7 md:w-3/4 md:pt-0 md:pl-12 pb-16;
}

.document {
  @apply max-w-none prose-h3:mb-4 prose-h3:text-base prose-h3:leading-6 prose-sm prose prose-pre:text-base prose-slate prose-a:font-semibold prose-a:text-primary hover:prose-a:text-sky-600;
}
